@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins',sans-serif;
font-size: 16px;
background: url(background3.jpg); 
}
.container{
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
/*section-header*/
.section-header{
  text-align: center;
  margin-bottom: 50px;
}
.section-header .title{
  font-size: 35px;
  font-weight: 600;
  text-transform: capitalize;
  color: hsl(0, 0%, 100%);
  line-height: 1.2;
}
/* testimonials */
.testimonials{
  padding: 100px 0;
}
.testimonials-item{
  background-color: #E7E8D1;
  padding: 30px;
  border-radius: 30px;
}
.testimonials-item .info{
  display: flex;
align-items: center;
}
.testimonials-item img{
  max-width: 80px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}
.testimonials-item .name{
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  color: black;
  line-height: 1.2;
}
.testimonials-item .place{
  text-transform: capitalize;
  color: red;
}
.testimonials-item p{
  margin-top: 20px;
  color: black;
}
.testimonials-item .rating {
  margin-top: 15px;
  font-size: 14px;
  color: hsl(36, 88%, 66%);
}